<h1>Welcome to MC Pack Tools!</h1>
<p>This website is a collection of tools to make developing datapacks and resource packs for Minecraft easier</p>
<p>
    There are currently no tools that have been completed, but there is a
    <a href="https://docs.google.com/document/d/1PUrp-ui4rl6ojUkObM2NHfEDwt2SCRdkw4bcxQrxtg0/edit?usp=sharing">document</a>
    that describes the tools that will be added in future. Feel free to add suggestions to this document of what should be added, or even contribute to the development directly by making a pull request at
    <a href="https://github.com/MinecraftPhi/mc-tools">the github repository</a>!
</p>
<p>
    If you experience any bugs please submit an issue to
    <a href="https://github.com/MinecraftPhi/mc-tools/issues">the issue tracker</a>
</p>