<nz-layout class="app-layout">
  <nz-header>
    <div class="logo">
      <a routerLink="/">
        <img src="assets/phi_square.png" alt="logo">
        <h1>MC Pack Tools</h1>
      </a>
    </div>
    <ul nz-menu class="top-nav" nzTheme="dark" nzMode="horizontal">
      <!-- TODO: show most frequently/recently used tools for this person
      <li nz-menu-item routerLinkActive="ant-menu-item-selected" routerLink="/home">Home</li> -->
    </ul>
    <div class="fill-hspace"></div>
    <version-selector></version-selector>
    <div>
      <a nz-button nzType="link" nzGhost (click)="toolsVisible = true">
        Available Tools<span nz-icon nzType="menu"></span>
      </a>
    </div>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
<nz-drawer nzTitle="Tools" [nzVisible]="toolsVisible" (nzOnClose)="toolsVisible = false"></nz-drawer>
